<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections>
		<sectionGroup name="applicationSettings"
		              type="System.Configuration.ApplicationSettingsGroup, System.Configuration.ConfigurationManager, Version=6.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51">
			<section name="GestiPlus.Properties.Settings"
			         type="System.Configuration.ClientSettingsSection, System.Configuration.ConfigurationManager, Version=6.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51"
			         requirePermission="false" />
		</sectionGroup>
		<sectionGroup name="userSettings"
		              type="System.Configuration.UserSettingsGroup, System.Configuration.ConfigurationManager, Version=6.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51">
			<section name="GestiPlus.Properties.Settings"
			         type="System.Configuration.ClientSettingsSection, System.Configuration.ConfigurationManager, Version=6.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51"
			         allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<appSettings>
		<add key="Server" value="developer\SQL" />
		<add key="Database" value="gestiplus" />
		<add key="Uid" value="GestiUser" />
		<add key="Pwd" value="EAAAAEsIVibGNrV0t4l7g+PboLxWJ81LWOrPxu1r6xf/P1BU" />
		<add key="DBVersion" value="1.1.0" />
	</appSettings>
	<!--<applicationSettings>
		<GestiPlus.Properties.Settings>
			<setting name="Server" serializeAs="String">
				<value>localhost</value>
			</setting>
			<setting name="Database" serializeAs="String">
				<value>gestiplus</value>
			</setting>
			<setting name="Uid" serializeAs="String">
				<value>GestiUser</value>
			</setting>
			<setting name="Pwd" serializeAs="String">
				<value>EAAAAEsIVibGNrV0t4l7g+PboLxWJ81LWOrPxu1r6xf/P1BU</value>
			</setting>
			<setting name="DBVersion" serializeAs="String">
				<value>1.0.0</value>
			</setting>
			<setting name="TicketPrinter" serializeAs="String">
				<value></value>
			</setting>
		</GestiPlus.Properties.Settings>
	</applicationSettings>-->
</configuration>